
 <tr>
                      <td valign="top" align="center"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top" align="center"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="20" class="em_side"></td>
                                  <td align="center" valign="top"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="em_mustard" align="left" style="font-family:Arial, sans-serif; font-size:25px; line-height:29px; color:#e1af5f; font-weight:bold;">$section_3_master_title</td>
                                      </tr>
                                      <tr>
                                        <td height="17" class="em_height" style="font-size:0px; line-height:0px;"> </td>
                                      </tr>
                                    </table></td>
                                  <td width="20" class="em_side"></td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td valign="top" align="center" bgcolor="#fff0cd" style="background-color:#fff0cd;"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                  
                                  <td valign="top" align="center"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td valign="top" align="center"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td class="em_h10" height="3" style="font-size:0px; line-height:0px;"> </td>
                                            </tr>
                                            <tr>
                                              <td valign="top" align="center"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td valign="top" align="center"><table align="left" class="em_wrapper" width="322" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="20" class="em_side"></td>
    <td valign="top"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                      <tr>
                                                                        <td height="15" class="em_hide" style="font-size:0px; line-height:0px;"> </td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td class="em_black" align="left" style="font-family:Arial, sans-serif; font-size:20px; line-height:25px; color:#000000; font-weight:bold;">$private_equity_top_title</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td height="8" class="em_h10" style="font-size:0px; line-height:0px;"> </td>
                                                                      </tr>
                                                                       $private_equity_top_position
                                                                      <tr>
                                                                        <td height="8" class="em_h10" style="font-size:0px; line-height:0px;"> </td>
                                                                      </tr>
                                                                      <tr>
{if in_array($client.CompanyID, array('326', '677'), true)}
                                                    <td class="em_marine" align="left" style="font-family:Arial, sans-serif; font-size:17px; line-height:19px; font-weight:bold; color:#5087a5;"><a href="https://client.thirdbridge.com/client/spotlight-discussion/details?eventUid=$private_equity_top_link&to={$clientuser.EmailAddress}&source=TOPCALLS" target="_blank" style="text-decoration:none; color:#5087a5;">Download Transcript</a></td>
{else}
                                                    <td class="em_marine" align="left" style="font-family:Arial, sans-serif; font-size:17px; line-height:19px; font-weight:bold; color:#5087a5;"><a href="https://forum-portal.thirdbridge.com/transcripts/conference-calls/$private_equity_top_link?token={$clientuser.portal_token}&source=TOPCALLS#$private_equity_top_link" target="_blank" style="text-decoration:none; color:#5087a5;">Download Transcript</a></td>
{/if}
                                                  </tr>
                                                                      <tr>
                                                                        <td height="12" class="em_h10" style="font-size:0px; line-height:0px;"> </td>
                                                                      </tr>
                                                                    </table></td>
                                                      <td width="20" class="em_side"></td>
                                                      
  </tr>
</table> 
</td>
                                                    
  <td class="em_hide" valign="bottom" align="center"><img src="https://www.thirdbridge.com/uploads/images/3114/6641/2505/img04.jpg" width="322" height="165" style="font-family:Arial, sans-serif; font-size:15px; color:#000000; display:block; max-width:322px; width:322px;"  border="0"/></td>                                                  
                                                  </tr>
                                                </table></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table></td>
                                  
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td height="6" class="em_heightwhite" style="font-size:0px; line-height:0px;"> </td>
                          </tr>

$section_3_rows

                          <tr>
                            <td valign="top" align="center" bgcolor="#ebebeb" style="background-color:#ebebeb;"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="50" class="em_side"></td>
                                  <td valign="top" align="center"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td height="13" class="em_h10" style="font-size:0px; line-height:0px;"> </td>
                                      </tr>
                                      <tr>
                                        <td class="em_black" align="center" style="font-family:Arial, sans-serif; font-size:17px; line-height:21px; color:#000000; font-weight:bold;">Did you miss out last month? <br />
                                          <span class="em_mustard" style="color:#e1af5f;"><a href="mailto:forum-registrations@thirdbridge.com?subject=Interest%20in%20top%20calls%20from%20$month%20$year&body=Please%20complete%20the%20information%20below%20and%20press%20send%2E%20A%20member%20of%20the%20team%20will%20then%20be%20in%20touch%20shortly%20to%20provide%20the%20requested%20material%2E%0D%0DName%3A%20{$clientuser.FirstName}%20{$clientuser.Surname}%0DEmail%3A%20{$clientuser.EmailAddress}%0DCompany%3A%20{$client.Name}%20%0D%0DFull%20List%20required%3A%20$month’s%20Private%20Equity%20Calls%0D%0D" target="_blank" style="color:#e1af5f; text-decoration:none;">Request a full list of $month’s $section_3_bottom_title Calls</a></span></td>
                                      </tr>
                                      <tr>
                                        <td height="13" class="em_h10" style="font-size:0px; line-height:0px;"> </td>
                                      </tr>
                                    </table></td>
                                  <td width="50" class="em_side"></td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td height="20"> </td>
                          </tr>
                        </table></td>
                    </tr>